<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/entry_style.css">
    
</head>
<body >
    <div class=".container">
        <div class="bg">
            <img src="images/background.avif">
        </div>
        <div class="info">
            <p style="font-size:500%; font-weight: 900;"> <span style="font-size:60%">Welcome to Webzen</span><br>Safe Login System</p>
            <p style="font-size:200%;font-weight: 600;">Your security is our priority. Access your account securely...</p>
            <a href="login.html"><button >Login</button></a>
            <a href="signin.html"><button >Signup</button></a>
        </div> 
        <div class="Webzen-logo">
            <img src="images/Logo.webp">
        </div>
    </div>

</body>
</html>